h1 {
    color: red
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
}

.dynamic {
    color: rebeccapurple
}

.static {
    color: cadetblue;
}