div#main {
    border: 2px solid grey;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px lightgrey;
    display: inline-block;
    background-color: beige;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0px;
}

input:checked+label{
    text-decoration: line-through;
}

ul button {
    outline: none;
    border: none;
    color: red;
}